// Typography styles

@function strip-unit($value) {
	@return $value / ($value * 0 + 1);
}


.t1 {
	font-family: Raleway;
	font-weight: 700;
	font-size: 48px;
	line-height: 1.16;
}

.p0 {
	font-family: Raleway;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.333;
}

.p1 {
	font-family: Raleway;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.333;
}

.p2 {
	font-family: Raleway;
	font-weight: 400;
	font-size: 24px;
	line-height: 1.333;
}
